.formacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
    width: 327px;
    height: 550px;
    background-color: #EAF2FD;
}
.formacion__main {
    width: 233px;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #464646;
}
.formacion__experiencias {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 296px;
    height: 539px;
}
.formacion__experiencia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2;
}
.formacion__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 2px;
    width: 296px;
    height: 118px;
}
.formacion__titulo {
    width: 230px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.formacion__years {
    width: 81px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}